<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Main Page</button>
  </div>

  <div class="info">
    <strong>Post's Author</strong>
    <small>12.09.19</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid atque corporis distinctio error ex harum hic magni maiores mollitia odit quo quod soluta ut voluptatem? Commodi, eaque, et, eum nemo perferendis placeat quam sapiente sit soluta sunt tenetur vero! A, accusantium, adipisci. Error et iure laboriosam non porro veritatis!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid atque corporis distinctio error ex harum hic magni maiores mollitia odit quo quod soluta ut voluptatem? Commodi, eaque, et, eum nemo perferendis placeat quam sapiente sit soluta sunt tenetur vero! A, accusantium, adipisci. Error et iure laboriosam non porro veritatis!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid atque corporis distinctio error ex harum hic magni maiores mollitia odit quo quod soluta ut voluptatem? Commodi, eaque, et, eum nemo perferendis placeat quam sapiente sit soluta sunt tenetur vero! A, accusantium, adipisci. Error et iure laboriosam non porro veritatis!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid atque corporis distinctio error ex harum hic magni maiores mollitia odit quo quod soluta ut voluptatem? Commodi, eaque, et, eum nemo perferendis placeat quam sapiente sit soluta sunt tenetur vero! A, accusantium, adipisci. Error et iure laboriosam non porro veritatis!</p>
  </div>
</div>
